# Environments
.env
.venv
env/
venv/

# Roboflow custom training V5
training/

# yolov10 testing
yolo-inference.py
yolov10m.pt

# Output of running v10
runs/

# Input videos to be analyzed
input-videos/

# Output annotated videos
output-videos/

# Parameters of trained model
models/best.pt

# Pycache
tracker/__pycache__/
utils/__pycache__/